body {
    z-index: 0;
    padding: 1em;
    font-family: Calibri;
}

.center {
    display: block;
    margin: 0 auto;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: large;
    }
    .center {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .center {
        width: 100%;
    }
}

/* --------------- LIST ITEM -------------------- */

.list-item {
    margin: 1em 0em;
    transition:0.5s;
    border-radius: 5px;
    -moz-transition:0.1s;
    -webkit-transition:0.1s;
    right:calc(100% - 100px);
    background-color: rgb(248, 248, 248);
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
}

.list-item:hover {
    margin-left: 0.5em;
    background-color: rgb(240, 240, 240);
}

.item-date {
    float: right;
    color: inherit;
    padding: 0.25em; 
    margin-right: 1em;
    font-style: italic;
}

/* --------------- LIST ITEM MORE --------------- */

.list-item-more {
    margin: 0.5em;
    padding: 0.5em;
    background-color: inherit;
}

.list-item:hover + .hide {
    display: block;
    color: inherit;
}

/* --------------- COLLAPSE BUTTON -------------- */

.collapse-btn {
    cursor: pointer;
    width: 100%;
    padding: 0.5em 1em;
    text-align: left;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.collapse-btn:focus {
    outline: 0;
    color: white;
    font-weight: bold;
    background-color: rgb(95, 156, 70);
}

.collapse-btn:hover {
    font-weight: bold;
}

.collapsable {
    display: none;
}

/* --------------- ADD BUTTON ------------------- */

.add-btn {
    cursor: pointer;
    font-size: 1em;
    color: white;
    text-align: left;
    border-radius: 5px;
    padding: 0.4em 0.4em;
    transition: 0.1s;
    -moz-transition:0.1s;
    -webkit-transition:0.1s;
    background-color: rgb(95, 156, 70);
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    border: none;
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
}

.add-btn:hover {
    margin-left: 0.5em;
    background-color: rgb(95, 166, 70);
}

.add-btn:focus {
    outline: 0;
}

/* --------------- CLOSE BUTTON ----------------- */

.del-btn {
    cursor: pointer;
    font-size: 0.5em;
    color: white;
    text-align: left;
    border-radius: 5px;
    padding: 0.8em 0.8em;
    transition: 0.1s;
    -moz-transition:0.1s;
    -webkit-transition:0.1s;
    border: none;
    background-color: rgb(156, 70, 70);
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
}

.del-btn:hover {
    margin-right: 0.5em;
    background-color: rgb(166, 70, 70);
}

.del-btn:focus {
    outline: 0;
}

/* --------------- ERROR MSG -------------------- */

#errorMsg {
    margin: 1em 0em;
    padding: 0.5em 1em;
    border-radius: 5px;
    color:rgb(156, 70, 70);
    font-weight: bold;
    background-color: rgb(252, 251, 197);
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
}

#errorMsg:empty {
    display: none;
}

/* --------------- NEW ITEM MODAL WINDOW -------- */

.form-container {
    height: 0;
    overflow: hidden;
    transform:scaleY(0); 
    transform-origin:  top;
    transition: transform 0.1s ease-out; 
}

.form-container.collapsed {
    height: fit-content;
    transform:scaleY(1);
}

.form-container form input[type="text"] {
    margin: 1em 0em;
    transition:0.5s;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 4px;
    -moz-transition:0.1s;
    box-sizing: border-box;
    -webkit-transition:0.1s;
    right:calc(100% - 50px);
    border: 0.5px solid rgb(172, 172, 172);
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
}

.form-container form input[type="text"]:hover {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.form-container form input[type="text"]:focus {
    outline: none;
}

.form-container form textarea {
    width: 100%;
    resize: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition:0.5s;
    -moz-transition:0.1s;
    -webkit-transition:0.1s;
    right:calc(100% - 50px);
    border: 0.5px solid rgb(172, 172, 172);
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
    box-sizing: border-box;
}

.form-container form textarea:hover {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.form-container form textarea:focus {
    outline: none;
}

.save-btn {
    margin-top: 1em;
    text-align: center;
    align-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    padding: 0.4em 0.4em;
    transition: 0.1s;
    -moz-transition:0.1s;
    -webkit-transition:0.1s;
    background-color: rgb(95, 156, 70);
    border: none;
    border-left: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
}

.save-btn:focus {
    outline: none;
}

.save-btn:disabled {
    background-color: rgb(132, 167, 119);
}

.save-btn:hover {
    font-size: 1.05em;
}
